@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500, 700,800");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Heebo', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	letter-spacing: 1px;
	background: #e2ddd5;
	line-height: 1.3;
}

 .header-small {
	 font-size: 28px;
 }

.header-text {
	font-size: 16px;
	padding: 15px;
}

.container {
	height: 100%;
}

.link {
	 cursor: pointer;
}

 #bglayer {
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
}


 .container .privacy-text {
	 color: black;
	 font-size: 12px;
	 padding-top: 10px;
}

.create-playlist {
	background-color: #1ED760;
	border: none;
	cursor: pointer;
}

.success-overlay {
	display: none;
	opacity: 0.9;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	background: #e2ddd5;
	max-width: 600px;
	border: 1px solid #1b1613;
}

.success-overlay h2 {
	 text-align: center;
	 font-size: 22px;
	 margin-top: 10px;
 }

.success-overlay p {
	 text-align: center;
	 font-size: 18px;
	 padding: 15px;
 }

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
 }

.smaller-text {
	 font-size: 16px;
}

.login-container .create-playlist {
	text-decoration: none;
	font-size: 17px;
	background: #1ED760;
	color: white;
	padding: 20px 30px;
	display: inline-block;
	margin: 20px;
	font-weight: 600;
	line-height: 24px;
	border-radius: 40px;
}
.login-container .create-playlist i {
	font-size: 24px;
	line-height: 24px;
}

.packshot {
	max-width: 800px;
}

@media screen and (max-width: 500px) {

	body {
		background: #1b1613;
	}

	.success-overlay {
		max-width: none;
		width: 90%;
		margin: auto;
	}

	.login-container {
		top: 55%;
	}
}

@media screen and (max-width: 400px) {

	.header-text {
		max-width: 300px;
		margin: 0 auto;
	}

	#copy {
		top: 10px;
		font-size: 12px;
		line-height: 15px;
	}
}
